* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #545454;
}
body,
html {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(148, 38%, 91%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 30px;
  gap: 25px;
}

input {
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 8px;
  padding: 8px;
}

button {
  background-color: hsl(169, 82%, 27%);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(169, 82%, 27%);
}

textarea {
  border-radius: 8px;
  min-height: 80px;
  resize: none;
}
h1 {
  font-weight: bold;
  font-size: 1.5625rem;
}
label {
  font-size: 14px;
}
.title {
  width: 100%;
  text-align: start;
}
.name,
.select-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.firstName,
.lastName,
.flex-email,
.flex-message,
.select {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name,
.firstName,
.lastName,
.email,
.select,
.radioGeneral,
.radioSupport,
.check,
.message,
.submitButton,
button {
  width: 100%;
}
.flex-email {
  display: flex;
  flex-direction: column;
}

.check {
  display: flex;
}
.flex-check {
  display: flex;
  gap: 10px;
}

.radioGeneral,
.radioSupport {
  border: 1px solid hsl(186, 15%, 59%);
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .name,
  .select-flex {
    flex-wrap: wrap;
  }

  textarea {
    height: 150px;
  }
}
